
.body
{ 
  margin-top: 50px;
  display:grid;
  grid-auto-rows: minmax(100px, auto);
  grid-template-columns: repeat(4, 1fr);;
}


.profileP
{
  grid-column: 2/2;
  grid-row: 1/1;
  
}

.welcome
{ 

  font-family: cursive;
  margin-top: 15px;
  grid-column: 3/3;
  grid-row: 1/3;
}

.created-container
{ 
  margin: 20px 20px 0 20px;
  height: 50%;
  border-radius: 2em / 5em;
  grid-column: 2/2;
  grid-row: 3/3;
}


.attending-container
{ 
  margin: 20px 20px 0 20px;
  height: 50%;
  border-radius: 2em / 5em;
  grid-column: 3/3;
  grid-row: 3/3;
}


.created-events
{
  grid-column: 2/4;
  grid-row:4/4;
}

.attending-events
{
  grid-column: 2/4;
  grid-row:4/4;
}

.add-event
{ 
  grid-column: 2/4;
  grid-row: 5/5;
  width: 100%;
  border-radius: 2em / 5em;
  margin-top: 20px;
  margin-bottom: 20px;
  
}


.overlayy {
  border-radius: 2em / 5em;
 position: absolute;
 top: 0;
 bottom: 0;
 left: 0;
 right: 0;
 height: 100%;
 width: 100%;
 opacity: 0;
 transition: .5s ease;
 background-color:#000000;
} 

.example-card-one:hover .overlayy {
 opacity: 0.5;
 cursor: pointer;
}

.example-card-two:hover .overlayy {
 opacity: 0.5;
 cursor: pointer;
}



.textt {
 color: white;
 font-size: 20px;
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 -ms-transform: translate(-50%, -50%);
 text-align: center;
  opacity: 1;
 
}

 .example-header-image {
   background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
   background-size: cover;
 } 

  .profileSection
 { 
   font-family: 'Courgette', cursive;
   background: #efefbb;
   background: -webkit-linear-gradient(to right, #efefbb, #d4d3dd);
   background: linear-gradient(to right, #efefbb, #d4d3dd); 
 } 


  .semi-circle
  {
   height:45px;
   width:80px;
   border-radius:0 0 90px 90px ;
  }

 .circle {
   width: 142x;
   height: 142x;
   line-height: 142x;
   border-radius: 50%; /* the magic */
   -moz-border-radius: 50%; 
   -webkit-border-radius: 50%; 
    text-align: center; 
    color: white; 
    font-size: 16px; 
    text-transform: uppercase; 
    font-weight: 700; 
    margin: 0 auto 40px;
  } 

    .container 
   {
     position: relative;
     height: 142px;
     width: 142px;
   }



  .profilePicture
   { 
     position: relative;
     height: 142px;
     width: 142px;
     cursor: pointer;
   }

  .overlay {

   position: absolute;
   top: 70%;
   bottom: 0;
   left: 27px;
   right: 0;
   height: 30%;
   width:80%;
   opacity: 0;
   transition: .5s ease;
   background-color:#000000;
 }
 
 .container:hover .overlay {
   opacity: 0.5;
   cursor: pointer;
 }
 
 .text {
   color: white;
   font-size: 15px;
   position: absolute;
   top: 50%;
   left: 50%; 
   transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
   text-align: center;
    opacity: 1;
    font-family: 'Courgette', cursive;
   
 } 




@media only screen and (max-width: 760px)
{

  .overlay
  {
    opacity: 0.5;
  }

  .created-container
  { 

   
    grid-column: 2/4;
    grid-row: 4/4;
  }
  
  
  .attending-container
  { 

    grid-column: 2/4;
    grid-row: 6/6;
  }


.created-events
{
  grid-column: 2/4;
  grid-row:5/5;
}

.attending-events
{
  grid-column: 2/4;
  grid-row:7/7;
}

.add-event
{ 
  grid-column: 2/4;
  grid-row: 8/8;

  
}

.profileP
{
  grid-column: 2/4;
  grid-row: 2/2;
  
}

.welcome
{ 
  margin-left: 60px;
  margin-bottom: 15px;
  grid-column: 2/4;
  grid-row: 1/1;
}


}























